{% extends "base.html.twig" %}

{% block body %}
    <div>
        <p class="font-color__error">
            Run "<code>php bin/console solar:purge</code>" on console.
        </p>

        <p class="margin__bottom--2">
            <a href="{{ path('root') }}" class="link__regular">try again</a>
        </p>
    </div>
{% endblock %}