{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to your Orbits Setup' %}

{% block main %}

    <div class="margin__top--3">
        <p>
            In here you can define some extra Planets & Moons. <br>
            <b>Be careful with your setups</b>, the math will not fix the orbits for you.
        </p>

        <p>
            <i>Enjoy role-playing Galileo Galilei</i>.
        </p>
    </div>

{% endblock %}