{% extends "@!EasyAdmin/menu.html.twig" %}

{% block main_menu %}

    {{ parent() }}

    <li class="margin__bottom--2 margin__top--lg border-top__light"></li>

    <li class="menu-item">
        <a href="{{ path('root') }}" class=" " target="_blank" rel="" referrerpolicy="origin-when-cross-origin">
            <i class="menu-icon fa-fw fas fa-external-link-alt"></i>
            <span>Go to Site</span>
        </a>
    </li>

{% endblock %}

