.border- {

  &light {
    border: 1px solid $border-light-color;
    border-radius: 5px;
  }

  &rounded- {
    &full { border-radius: 50%; }
    &sm { border-radius: 5px; }
    &0 { border-radius: 0; }
  }

  &solid {
    border-style: solid;
  }

  &blue { border-color: $color-blue; }
  &gray { border-color: darken($color-gray, 5%); }

  &top__ {
    &light {
      border-top: 1px solid $border-light-color;
    }
  }
}