
.button {

   @extend .px-lg, .py-sm;
   @extend .background__blue;
   @extend .border-solid, .border-rounded-0, .border-blue;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   color: darken($color-blue, 30%);
   font-size: 115%!important;
   font-family: Arial, serif;

   &:hover {
      background-color: lighten($color-blue, 5%);
      border-color: lighten($color-blue, 5%);
   }

   &__secondary {
      @extend .button;
      @extend .background__gray;
      @extend .border-gray;
      margin-left: 1em;

      &:hover {
         background-color: lighten($color-gray, 5%);
         border-color: lighten($color-gray, 5%);
      }
   }
}