.margin__ {


  &top-- {
    &sm { margin-top: 5px; }
    &lg { margin-top: 10px; }
    &1 { margin-top: 1em; }
    &2 { margin-top: 2em; }
    &3 { margin-top: 3em; }
    &4 { margin-top: 4em; }
    &5 { margin-top: 5em; }
  }

  &left-- {
    &sm { margin-left: 5px; }
  }

  &bottom-- {
    &sm { margin-bottom: 5px; }
    &lg { margin-bottom: 10px; }
    &1 { margin-bottom: 1em; }
    &2 { margin-bottom: 2em; }
    &3 { margin-bottom: 3em; }
    &4 { margin-bottom: 4em; }
    &5 { margin-bottom: 5em; }
  }

  &bottom-- {
    &sm { margin-bottom: 5px; }
    &lg { margin-bottom: 10px; }
  }
}