.scale__ {

  &original {
    transform: scale(1) !important;
  }

  &xxs {
    transform: scale(.3) !important;
  }

  &xs {
    transform: scale(.5) !important;
  }

  &sm {
    transform: scale(.7) !important;
  }

  &lg {
    transform: scale(1.5) !important;
  }

  &xl {
    transform: scale(2) !important;
  }

  &xxl {
    transform: scale(2.5) !important;
  }

  &xxxl {
    transform: scale(3) !important;
  }
}