<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>

        {% include "modals/disclaimer.html.twig" %}

        <div class="container__main">
            {% block nav %}{% endblock %}
            {% block body %}{% endblock %}
        </div>

        <footer class="text-align__center">
            <div class="footer__columns">
                <a href="https://gitlab.com/jessie-gomes/solar-symfony" class="link__regular" target="_blank">
                    fork me on gitlab
                </a>
            </div>

            <div class="footer__columns">
                <small><a href="https://gitlab.com/jessie-gomes" target="_blank" class="link__regular">jessie gomes</a> | {{ 'now' | date('Y') }}</small>
            </div>

            <div class="footer__columns">
                <a href="mailto:jessie.gomes88@gmail.com?subject='Hey, I liked your Solar Symfony project!'" class="link__regular">
                    send me a whisper
                </a>
            </div>
        </footer>
    </body>
</html>
